---
YAML dashes. the dashes are enough.
---

@import "minima";

.site-header, .site-footer {
    background: #000 !important;
    color: #fff !important;
  }
.site-header a, .site-footer a {
    color: #fff !important;
  }

.site-footer, .site-footer.h-card {
    background: #000 !important;
    color: #fff !important;
}
.site-footer a, .site-footer.h-card a {
    color: #fff !important;
}