---
---

@import "minima";

.site-header {
  border-top: none !important;
}

.site-header, .site-footer {
    background: #000 !important;
    color: #fff !important;
  }
.site-header a, .site-footer a {
    color: #fff !important;
  }

.site-footer, .site-footer.h-card {
    background: #000 !important;
    color: #fff !important;
}
.site-footer a, .site-footer.h-card a {
    color: #fff !important;
}

body {
    font-family: "Palatino", "HTSong", "STSong", "华文宋体", "SimSun", "宋体", Times, serif !important;
}