---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.site-header, .site-footer {
    background: #222;
    color: #fff;
  }
.site-header a, .site-footer a {
    color: #fff;
  }